* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  width: 95%;
  height: 10vh;
  padding: 20px;
  background-color: lightblue;
  font-size: 25px;
}

.navBtn {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 300px;
}

.middle {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 18px;
}

.main{
  background-color: gray;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 60vh;
}

.navigation{
  display: flex;
  background-color: lightpink;
  color: lightblue;
  font-size: 25px;
  height: 60vh;
  width: 15%;
  padding: 20px;
  word-wrap: break-word;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 98%;
  height: 17vh;
  margin: 20px 10px;
  background-color: purple;
  color: white;
  font-size: 25px;
}

.footBtn {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 20px;
  width: 600px;
}

.subcontents{
  display: flex;
  align-items: center;
  height: 150px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  color: silver;
  font-size: 20px;
}